:root {
    /* --character-open: url("");
    --character-closed: url(""); */
  
    
    --goobs-open: url("https://cdn.discordapp.com/attachments/1038533224827191369/1083832116657278976/goobs-open.png");
    --goobs-closed: url("https://cdn.discordapp.com/attachments/1038533224827191369/1083832116359475421/goobs-closed.png");
    
    --dag-open: url("https://cdn.discordapp.com/attachments/1038533224827191369/1083832116082647070/dag-open.png");
    --dag-closed: url("https://cdn.discordapp.com/attachments/1038533224827191369/1083832115797438464/dag-closed.png");
    
  
    --rob-open: url("https://cdn.discordapp.com/attachments/1038533224827191369/1083832117185761332/rob-open.png");
    --rob-closed: url("https://cdn.discordapp.com/attachments/1038533224827191369/1083832116934094899/rob-closed.png");
  }
  
  
  
  body, #root {
    overflow: hidden !important;
  }
  
  
  
  [class*="Voice_voiceStates__"] {
    display: flex; 
    align-items: flex-end; 
    padding:16px;
  } 
  
  
  
  [class*="Voice_voiceState__"] {
    height: auto; 
    margin-bottom: 0px;
    transform: scale(0.75);
  } 
  
  
  
  [class*="Voice_avatar__"] {
    filter: brightness(70%);
  } 
  
  
  
  [class*="Voice_avatarSpeaking__"] {
    position: relative; 
    animation: 0ms infinite alternate ease-in-out null; 
    filter: brightness(100%) drop-shadow(2px 2px 0px #FFFFFF) drop-shadow(-2px -2px 0px #FFFFFF) drop-shadow(-2px 2px 0px #FFFFFF) drop-shadow(2px -2px 0px #FFFFFF); 
    animation-duration: 750ms;
  }  
  
  
  [class*="Voice_name__"] {
    display: none;
  }
  
  
  @keyframes speak-border {
    0% {
      filter: drop-shadow(2px 2px 0px #FFFFFF) drop-shadow(-2px -2px 0px #FFFFFF) drop-shadow(-2px 2px 0px #FFFFFF) drop-shadow(2px -2px 0px #FFFFFF);
      filter: none;
    }
    50% {
      filter: drop-shadow(2px 2px 0px #FFFFFF) drop-shadow(-2px -2px 0px #FFFFFF) drop-shadow(-2px 2px 0px #FFFFFF) drop-shadow(2px -2px 0px #FFFFFF);
      filter: none;
    }
    100% {
      filter: drop-shadow(2px 2px 0px #FFFFFF) drop-shadow(-2px -2px 0px #FFFFFF) drop-shadow(-2px 2px 0px #FFFFFF) drop-shadow(2px -2px 0px #FFFFFF);
      filter: none;
    }
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  /* ROB */
  
  img[src*="avatars/100288457162637312"] {
    content: url("https://cdn.discordapp.com/attachments/1038533224827191369/1083832116934094899/rob-closed.png");
    width: auto;
    height: auto;
    max-width: 400px;
    border-radius: 0;
    border: none;
    animation-name: mouth-100288457162637312
  }
  /* img:not([src*="avatars/100288457162637312"]), img:not([src*="avatars/100288457162637312"]) + [class*="Voice_user__"] {
    display: none;
  } */
  
  @keyframes mouth-100288457162637312 {
    0% {}
    50%{ content: url("https://cdn.discordapp.com/attachments/1038533224827191369/1083832117185761332/rob-open.png"); }
    100% {}
  }
  
  
  
  
  
  
  
  img[src*="avatars/80164863602601984"] {
    content: url("https://cdn.discordapp.com/attachments/1038533224827191369/1083832116359475421/goobs-closed.png");
    width: auto;
    height: auto;
    max-width: 400px;
    border-radius: 0;
    border: none;
    animation-name: mouth-80164863602601984
  }
  /* img:not([src*="avatars/80164863602601984"]), img:not([src*="avatars/80164863602601984"]) + [class*="Voice_user__"] {
    display: none;
  } */
  
  @keyframes mouth-80164863602601984 {
    0% {}
    50%{ content: url("https://cdn.discordapp.com/attachments/1038533224827191369/1083832116657278976/goobs-open.png"); }
    100% {}
  }
  
  
  
  
  
  
  
  
  /* Dagwood */
  
  img[src*="avatars/110593521731268608"] {
    content: url("https://cdn.discordapp.com/attachments/1038533224827191369/1083832115797438464/dag-closed.png");
    width: auto;
    height: auto;
    max-width: 400px;
    border-radius: 0;
    border: none;
    animation-name: mouth-110593521731268608
  }
  /* img:not([src*="avatars/110593521731268608"]), img:not([src*="avatars/110593521731268608"]) + [class*="Voice_user__"] {
    display: none;
  } */
  
  @keyframes mouth-110593521731268608 {
    0% {}
    50%{ content: url("https://cdn.discordapp.com/attachments/1038533224827191369/1083832116082647070/dag-open.png"); }
    100% {}
  }
  
  
  
  